<div class="navbar h-[8vh] w-full py-3 flex justify-between items-center">
    <a href="/" class="text-2xl font-semibold">Khaatabook</a>
    <div class="nav-part-2">
        <a href="/" class="text-lg cursor-pointer">Home</a>
        <a href="/hisaab/create" class="text-lg">Create New Hisaab</a>
        <a href="/logout" class="text-red-700 text-lg">Logout</a>
    </div>
    <i class="hamburger ri-menu-line text-lg font-semibold"></i>
    <div class="menu text-lg">
        <i class="hamClose ri-close-line text-2xl font-semibold"></i>
        <a href="/" class="">Home</a>
        <a href="/hisaab/create" class="text-center leading-none">Create New <br>Hisaab</a>
        <a href="/logout" class="text-red-700">Logout</a>
    </div>
</div>